header {
  height: 400px;
  width: 100%;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c481ad;
  background-image: url("https://www.transparenttextures.com/patterns/white-brick-wall.png");
}