.new-tweet {
  margin-top: 10px;
  max-width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

form * {
  padding: 10px;
}

textarea {
  margin-bottom: 15px;
  resize: none;
  background-color: transparent;
  border: none;
  margin: 0px 10px 0px 10px;
  border-bottom: 3px solid;
  border-color: gray;
  font-weight: bold;
}

.forminteractions {
  display: flex;
  justify-content: space-between;
}

form button {
  background-color: #4056A1;
  color: hotpink;
  border: 0;
  border-radius: 2px;
  -webkit-text-stroke: 1px #FFFFFF;
  font-weight: normal;
  font-family: 'Bungee', sans-serif;
}

form label {
  -webkit-text-stroke: 1px #4056A1;
  color: #c481ad;
  font-family: 'Bungee', sans-serif;
  font-size: 40px;
  margin: 5px;
}

form output {
  font-family: 'Bungee', sans-serif;
}

#out-of-words {
  color: red;
}

.errors {
  position: absolute;
}

.errors#error {
  position: relative;
  display: flex;
  align-items: center;
  margin: 10px;
  height: 2.5em;
  border-radius: 10px;
  background-color:rgba(255, 0, 0, 0.9);
  color: black;
  font-size: 14px;
}