.tweet {
  border: 3px solid gray;
  margin: 10px;
}

.tweet:hover {
  box-shadow: 8px 8px 0px 0px rgba(196,201,225,1);

}

.tweet:hover p {
  font-weight: bold;
}

.tweets {
  margin: 0px 0px 20px 0px;
  max-width: 100%;
}

.tweets p {
  padding: 0px 10px 20px 10px;
  margin: 0px 10px 0px 10px;
  border-bottom: 3px solid gray;
}

.tweets header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweets footer {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
  padding: 10px;
}

.tweets footer input {
  width: 20px;
}

.tweets .user-thumbnail {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tweets .user-thumbnail img {
  width: 40px;
  margin: 10px;
}

.tweet #handle {
  color: rgba(64, 86, 161, 0.5);
  visibility: hidden;
}

.tweet:hover #handle {
  visibility: visible;
  padding: 10px;
}